################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/IdentityServer/bin/Debug/netcoreapp3.0
/IdentityServer/obj
